h1{
    color:rgb(32, 68, 92);
}
.redes{
    color:rgb(69, 96, 122);
}
.linha{
    width: 1530px;
    height: 3px;
}
.adam{
    width: 1530px;
    height: 150px;
}
h2{
            color:rgb(69, 96, 122);
        }
